<h3>Add Announcement</h3>

<form action="" method="post">

    <div class="form-group">
        <label class="form-label" for="name">Name of Event</label>
        <input type="text" name="name" placeholder="Name of Event" required>
    </div>

    <div class="form-group">
        <label class="form-label" for="location">Location</label>
        <input type="text" name="location" placeholder="Location" required>
    </div>

    <div class="form-group">
        <label class="form-label" for="description">Description</label>
        <input type="text" name="description" placeholder="Describe this event." required>
    </div>

    <div class="form-group">
        <label class="form-label" for="date">Date of Event</label>
        <input type="date" name="date" required>
    </div>

    <div class="form-group">
        <label class="form-label" for="startTime">Start Time</label>
        <input type="time" name="startTime">
    </div>

    <div class="form-group">
        <label class="form-label" for="endTime">End Time</label>
        <input type="time" name="endTime">
    </div>

    <div class="form-group">
        <label class="form-label" for="deadline">Deadline</label>
        <input type="date" name="deadline">
    </div>

    <div class="form-group">
        <label class="form-label" for="price">Price</label>
        <input type="number" name="price">
    </div>

    <span class="form-group">
        <input type="checkbox" name="districtEvent">
        <label class="form-label" for="district_event" style="display: inline-block;">District Event</label>
    </span>

    <span class="form-group">
        <input type="checkbox" name="promoRequest">
        <label class="form-label" for="promoRequest" style="display: inline-block;">Promo Request</label>
    </span>

    <div class="form-group">
        <label class="form-label" for="promoMaterial">Promo Request</label>
        <textarea name="promoMaterial" placeholder="Place all promotion material here."></textarea>
    </div>

    {{!-- note: promoFiles is new --}}
    {{!-- <div class="form-group">
        <label class="form-label" for="promoFiles">Upload Promo Files</label>
        <input type="file" name="promoFiles" multiple="true">
    </div> --}}

    <input class="btn btn-primary input-group-btn" type="submit" value="Submit Request">
</form>