
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Open Sans', 'Arial Narrow', Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

main {
    padding-left: 2%;
    text-align: center;
}

header {
    padding: 2%;
    display: inline-flex;
    width: 100%;
}

h1 {
    text-align: center;
    padding: initial;
}

h5 {
    margin: 0;
    width: fit-content;
}

a, a:visited {
    text-decoration: none;
    color: black;
    font-size: initial;
    background: aliceblue;
    border-radius: 2px;
}

a:focus, a:hover, a:active {
    text-decoration: none;
    /* color: white; */
    background: azure;
}

.error {
    color: crimson;
}

form {
    display: inline-grid;
    text-align: -webkit-left;
}

form label {
    text-align: left;
}